#container{
    background-color:  #FFFFFF;
  
}
#heading {
    position: relative;
    top: 30px;
    left: 700px;
    opacity: 1;
    font-family: Abhaya Libre;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 100%;
    color: #000000;
}

#para {
    position: relative;
    width: 1260px;
    height: 196px;
    left: 130px;
    opacity: 1;
    font-family: Be Vietnam;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    display: flex;
    text-align: justify;
    align-items: center;
}

@media screen and (min-width:412px)and (max-width: 820px) {

    /* *****tab view***** */
    body {
        width: 1427px;
        height: 212px;
    }

    #heading {

        left: 400px;
        opacity: 1;
        font-family: Abhaya Libre;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        line-height: 100%;
        color: #000000;

    }

    #para {
        width: 927px;
        right: 90px;
        top: 50px;
        opacity: 1;
        font-family: Be Vietnam;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;

    }
}

@media screen and (min-width: 360px) and (max-width: 412px) {

    /* *****mobile view***** */

    #heading {

        top: 60px;
        left: 120px;
        opacity: 1;
        font-family: Abhaya Libre;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;

    }

    #para {
        width: 336px;
        opacity: 1;
        font-family: Be Vietnam;
        font-weight: 400;
        font-style: Regular;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: #000000;

    }
}