body {

    background-color: #FFFFFF;
    width: 1440px;
    height: 539px;
}

img {
    width: 1438px;
    height: 533.2583618164062px;
    top: 72px;
    left: 1px;
    opacity: 1;
    background-color: #FFFFFF;

}




