/* *****desktop view***** */
#GroupC {
    width: 1255.1038818359375px;
    height: 337px;
    background-color:  #FFFFFF;
    opacity: 1;
    top: 1907px;
    left: 94px;
    color: #000000;

}

#WhyChooseUs {    
    opacity: 1;
    top: 1907px;
    left: 527px;
    font-family: Abhaya Libre;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;  
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-family: Be Vietnam;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;    
    line-height: 100%;
    letter-spacing: 0%;
/* display:block; */
/* display: flex; */
}

#Quality_Materials {
    width: 1253.9990234375px;
    height: 85px;
    
    opacity: 1;
    top: 1936px;
    left: 94px;
}

#Customization {
    width: 1253.9990234375px;
    height: 80px;
    
    opacity: 1;
    top: 2016px;
    left: 95.1px;
}

#Expertise {
    width: 1253.9990234375px;
    height: 86px;
 
    opacity: 1;
    top: 2100px;
    left: 94px;
}

#Customer_Satisfaction {
    width: 1253.9990234375px;
    height: 69px;
    
    opacity: 1;
    top: 2175px;
    left: 94px;
}

@media screen and (min-width:600px)and (max-width: 900px) {

    /* *****tab view***** */
    #GroupC {
        width: 917px;
        height: 412px;
        top: 1562px;
        left: 53px;
        
        opacity: 1;
        color: #000000;

    }

    #WhyChooseUs {

        width: 322px;
        height: 57px;
       
        opacity: 1;
        top: 1562px;
        left: 351px;
        font-family: Abhaya Libre;
        font-weight: 400;
        font-style: Regular;
        font-size: 48px;
        
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #WhyChooseUspoints {
        width: 917px;
        height: 371px;
        top: 1603px;
        left: 53px;
       
        opacity: 1;
        color: #000000;

    }

    #WhyChooseUspoints>li {
        font-family: Be Vietnam;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        
        line-height: 100%;
        letter-spacing: 0%;
    }


    #Quality_Materials {
        width: 917px;
        height: 140px;
       
        opacity: 1;
        top: 1603px;
        left: 53px;

    }

    #Customization {
        width: 893.2130737304688px;
        height: 70px;
       
        opacity: 1;
        top: 1708px;
        left: 55px;

    }

    #Expertise {
        width: 893.2130737304688px;
        height: 84.21365356445312px;
      
        opacity: 1;
        top: 1785px;
        left: 53px;

    }

    #Customer_Satisfaction {
        width: 893.2130737304688px;
        height: 105px;
      
        opacity: 1;
        top: 1869px;
        left: 53px;

    }

}

@media screen and (max-width: 600px) {

    /* *****mobile view***** */
    #GroupC {
        width: 341px;
        height: 179px;
      
        opacity: 1;
        top: 954px;
        left: 11px;
        color: #000000;
    }

    #WhyChooseUs {
        width: 134px;
        height: 24px;
       
        opacity: 1;
        top: 954px;
        left: 114px;
        font-family: Abhaya Libre;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
      
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #WhyChooseUspoints>li {
        font-family: Be Vietnam;
        font-weight: 400;
        font-style: Regular;
        font-size: 10px;
     
        line-height: 100%;
        letter-spacing: 0%;

    }

    #Quality_Materials {
        width: 314.02825927734375px;
        height: 56px;
        
        opacity: 1;
        top: 966px;
        left: 11px;
    }

    #Customization {
        width: 341px;
        height: 15px;
     
        opacity: 1;
        top: 1014px;
        left: 11px;
    }

    #Expertise {
        width: 320.77117919921875px;
        height: 30px;
        
        opacity: 1;
        top: 1046px;
        left: 11px;
    }

    #Customer_Satisfaction {
        width: 328.4773864746094px;
        height: 40px;
        
        opacity: 1;
        top: 1093px;
        left: 11px;
    }
}